/* Reset CSS */
* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    
}

#header {
    height: 46px;
    background-color: #000;

}

#nav, .subnav {
    /* Không hiển thị dấu chấm dầu dòng dạng ul, li */
    list-style-type: none;
}

#nav > li {
    /* Chuyển dạng list của li sang dạng hiển thị ngang */
    display: inline-block;
}

#nav li {
    position: relative;
    
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}


#nav li a {
    
    text-decoration: none;/*Gạch chân*/
    line-height: 46px;/*Căn giữa the chiều dọc : độ cao bằng dộ cao header*/
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;

}

#nav .subnav {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}


#slider {

}

#content {

}

#footer {

}
